<!DOCTYPE html>
{% extends 'albums/base.html' %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/images-css.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <h2>Album: {{ name }}</h2>
  <section id="img-flex">
    {% for image in images %}
    <div>
      <img class="imgs" src='/{{ image.image }}'>
    </div>
    {% endfor %}
  </section>

  <div id="modal-image">
    <div id="modal-content">
      <i class="fa fa-times"></i>
      <img scr="">
    </div>
  </div>

  <script src="{% static 'js/modal_img.js' %}"></script>
{% endblock %}
